body{
    background-color:black;
    color:white;
}

button{
    font-size:25px
    border-radius:25px;
    padding:5px;
    margin:10px;
    background-color:white;
    color:black;
}

button:hover{
    background-color:#414141;
    cursor: pointer;
}
